.header-text h2 {
    color: #fff;
    /* color: #000; */
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    z-index: 10px;
  
  
}

nav{
  
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    }

    .en-tete{
        display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('https://technext.github.io/browny/assets/images/about/welcome-banner.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    height: 890px;
    }

    .en-tete:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    background: rgba(31,44,108,.65);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.about h3 {
    font-size: 22px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
    text-align: start;
    font-family: 'Poppins', sans-serif;
}

.about p {
    font-size: 17px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3;
   
}

p{
    margin: 0;
    line-height: 1.8;
    color: #43485c;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* .about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
} */


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about-list-icon ul li  {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.education {
    background: #f9fbfd;
    padding-top: 50px;
}
.single-horizontal-timeline .experience-time h3 {
    text-transform: capitalize;
    text-align: start;
}

.experience-time h3 {
    font-size: 18px;
    font-weight: 300;
    color: #636a82;
    margin-top: 14px;
    text-transform: uppercase;
    text-align: start;

}

.timeline-horizontal-border {
    display: flex;
    align-items: center;
    padding: 26px 0 30px;
}

.single-horizontal-timeline p {
    color: #999fb3;
    max-width: 335px;
    text-align: start;
}

p {
    margin: 0;
    line-height: 1.8;
    color: #43485c;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

h2{
    margin: 0;
    color: #43485c;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.timeline-horizontal-border i {
    font-size: 10px;
    color: #d92cf9;
    margin-right: 5px;
}

span.single-timeline-horizontal {
    display: inline-block;
    background: #b2c1ce;
    height: 1px;
    width: 380px;
}

/* .progress {
    border-radius: 3px;
    overflow: visible;
    background: #e6ecf3;
    height: 3px;
   
    width: 85%;
    margin-bottom: 37px;
} */
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.barWrapper {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-align: start;
    margin-top: 20px;
}

.single-progress-txt h3 {
    width: 5%;
    color: #a606c3;
    position: relative;
    /* top: 6px; */
    bottom: 6px;
    left: 20px;
    font-size: 18px;
}

.experience {
    padding: 50px 0 100px;
    border-top: 1px solid #e5ebf2;
}

p{
    margin: 0;
    line-height: 1.8;
    color: #43485c;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin: 0;
    color: #43485c;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 12px;
}

.experience-time h3 {
    font-size: 16px;
    font-weight: 300;
    color: #636a82;
    margin-top: 14px;
    text-transform: uppercase;
}
/* .progress-bar {
    background: #b636ff;
    border-radius: 3px;
    -webkit-transition: width 1.5s ease-in-out;
    -ms-transition: width 1.5s ease-in-out;
    -moz-transition: width 1.5s ease-in-out;
    -o-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
} */

/* .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
 */
